// 边框色
$borderColor: #d9d9d9; // 相对较浅，常用于容器边框色
$borderWeightColor: #d5d5d5; // 相对较深，常用于输入框边框色
$borderLightColor: #f5f5f5;
$boxShadowColor: #b1b1b1;

// 字体色
$fontColor: #63656E;
$fontWeightColor: #313238;
$fontBoldColor: #222222;
$fontLigtherColor: #999999;

// 主体 icon 颜色
$primaryColor: #3a84ff;
$iconPrimaryColor: #3a84ff;
$primaryLightColor: #ebf4ff;
$fontFail: #ff5656;

// 成功 icon 颜色
$iconSuccessColor: #45E35F;
$successColor: #45E35F;

// 失败 icon 颜色
$iconFailColor: #ff5656;
$failColor: #ff5656;
$dangerColor: #ff5656;

// warning icon 颜色
$iconWarningColor: #FFB848;
$warningColor: #FFB848;

// 背景
$bgLightColor: #f1f2f3;
$bgHoverColor: #fafbfd;
$bgWeightColor: #E2E4E8;
$navBgColor: #191929;

$aHoverColor: #3364D5;

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
