@charset 'utf-8';
@import './conf';
@import './icon/iconfont';

html,
body {
    height: 100%;
    font-family: Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    color: $fontColor;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
p,
td,
th{
	margin: 0;
    padding: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $fontWeightColor;
	&:hover {
		color: $primaryColor;
	}
}

button,
label {
	outline: none;
}

.hover-btn {
    user-select: none;
    cursor: pointer;
    &:hover {
        color: $primaryColor;
    }
}

.router-link {
    color: #3a84ff;
    &:hover {
        color: #699df4;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: lighten(#a5a5a5, 80%);
}
::-webkit-scrollbar-thumb {
    height: 8px;
    border-radius: 20px;
    background-color: #a5a5a5;
}

.bk-table-body,
.bk-table-footer,
.bk-table-header,
.bk-table-empty-block {
    width: auto!important; /* ����bk-margic-vue����ʽ */
}

.bk-message-icon {
    min-width: 20px !important;
}

.bk-page .bk-page-count .bk-select {
    min-width: 80px !important;
}

.bk-option-name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repo-tag {
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 12px;
    white-space: nowrap;
    background-color: $primaryLightColor;
}

.break-all {
    word-break: break-all;
}

.w220 {
    width: 220px!important;
}

.w140 {
    width: 140px!important;
}

.bk-table-body-wrapper {
    overflow-y: auto!important;
}
