// 存放常用变量
:root {
    // 主题色
    --primaryColor: #3a84FF;
    --successColor: #14AB5B;
    --warningColor: #FFB549;
    --dangerColor: #EA3736;
    --subsidiaryColor: #7F96BC;
    
    // 字体色
    --fontPrimaryColor: #081E40;
    --fontSubsidiaryColor: #8789AA;
    --fontTipColor: #CBD5E0;

    // 边框色
    --borderColor: #E5EAF0; // 相对较浅，常用于容器边框色
    --borderWeightColor: #CBD5E0; // 相对较深，常用于输入框边框色
    --boxShadowColor: #b1b1b1;
    
    // 背景色
    --bgColor: #FAFBFD;
    --bgHoverColor: #EBF3FF;
    --bgHoverLighterColor: #F5F9FF;
    --primaryHoverColor: #619DFF;
}

