
body {
    /*  */
    .bk-page {
        margin-top: -1px;
        border-top: 1px solid var(--borderColor);
    }
    /* 表格 */
    .bk-table {
        /* 列边距 */
        .cell {
            padding: 0 10px;
        }
        /* 行高 */
        td, th {
            height: 40px;
            /* 列边距 */
            &:first-child > .cell {
                padding-left: 30px;
            }
            &:last-child > .cell {
                padding-right: 30px;
            }
        }
        th {
            :hover {
                background-color: transparent;
            }
            > .cell {
                height: 40px;
                line-height: 40px;
            }
        }
        /* 行hover背景 */
        .bk-table-body tr.bk-table-row.hover-row > td {
            background-color: var(--bgHoverLighterColor);
        }
        /* 流体布局适应 */
        .bk-table-body-wrapper {
            overflow-y: auto!important;
        }
        .bk-table-body,
        .bk-table-footer,
        .bk-table-header,
        .bk-table-empty-block {
            width: auto!important;
        }
    }
    /* 按钮 */
    .bk-button,
    .bk-button.no-slot {
        padding: 0 2px;
        height: 30px;
        line-height: 28px;
        min-width: 56px;
        .bk-icon {
            font-size: 20px;
        }
    }
    /* 面包屑 */
    .bk-breadcrumb .bk-breadcrumb-item {
        display: inline-flex;
        align-items: center;
        .bk-breadcrumb-separator {
            margin: 0;
            font-size: 20px;
        }
    }
    /* 字体颜色重置 */
    .bk-breadcrumb .bk-breadcrumb-item,
    .bk-table,
    .bk-form .bk-label,
    .bk-form-checkbox .bk-checkbox-text,
    .bk-form-radio,
    .bk-tab-header,
    .bk-form-control,
    .bk-button,
    .bk-select {
        color: var(--fontPrimaryColor);
    }

    .bk-breadcrumb .bk-breadcrumb-item:last-child,
    .bk-table th .bk-table-header-label,
    .bk-form-radio-button .bk-radio-button-text {
        color: var(--fontSubsidiaryColor);
    }
    /* 字体大小重置 */
    .bk-form .bk-label,
    .bk-form-checkbox .bk-checkbox-text,
    .bk-breadcrumb,
    .bk-button,
    .bk-form-radio {
        font-size: 12px;
    }
    /* 边框颜色重置 */
    .bk-table:before {
        background-color: var(--borderColor);
    }
    .bk-table td,
    .bk-table th.is-leaf {
        border-color: var(--borderColor);
    }
    .bk-form-input,
    .bk-form-password,
    .bk-form-select,
    .bk-form-textarea,
    .bk-select,
    .bk-button {
        border-color: var(--borderWeightColor);
    }

    .bk-message-icon {
        min-width: 20px !important;
    }

    .bk-option-name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
